services:
  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data 
    command: ["redis-server", "--save", "60", "1", "--appendonly", "yes", "--dir", "/data"]
    networks:
      - redis_network

  app:
    build:
        dockerfile: ./Python/Dockerfile
    container_name: app_container
    depends_on:
      - redis
    restart: "no"
    networks:
      - redis_network
    volumes:
      - ./Python/app/genitif/dataset:/app/genitif/dataset
      - ./Python/app/genitif/models:/app/genitif/models

volumes:
  redis_data:

networks:
  redis_network:
    driver: bridge
